/* Style the tab */
/* .tab {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 50px;
    width: 500px;
    display: inline-block;
    white-space: nowrap;
} */

/* Style the buttons that are used to open the tab content */
/* .tab button {
  float: left;
  border-radius: 0%;
  outline: lightgray;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  margin-right: 2%;
  padding-bottom: 2%;
} */

.today-buttons {
  display: flex;
  padding-left: 2%;
  padding-bottom: 3%;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100px;
  width: 500px;
  display: inline-block;
  white-space: nowrap;
}

.category-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 95px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.bpmenu-back {
  border-radius: 50%;
  text-decoration: none;
  padding: 8px 16px;
  color: black;
}

.activity-heading {
  padding: 2%;
  background-color: #e0e0e0;
}

.activity-details {
  padding-top: 2%;
}
#activity-header {
  padding-top: 6%;
  padding-bottom: 6%;
}

.activity-desctiption {
  padding-top: 4%;
}

.activity-notes {
  border-radius: 15px;
  background-color: #e0e0e0;
  padding: 2%;
}

#modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-buttons {
  padding: 2%;
}

.list-buttons {
}

.scrolling-categories {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 50px;
  width: 500px;
  display: inline-block;
  white-space: nowrap;
  border-radius: 15px;
}

#save-activity-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-heading {
  background-image: url(../images/gradient-crop1.png);
}

.activity-heading {
  background: linear-gradient(255.34deg, #f4cde1 10.19%, #ffadad 89.19%);
}

.tl-heading {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 2%;
}

.list-buttons {
  display: inline-block;
  width: 130px;
  height: 100px;
  white-space: normal;
}
