body {
  font-family: "Rubik", sans-serif;
  overflow: hidden;
}

.today-buttons {
  display: flex;
  padding-left: 2%;
  padding-bottom: 5%;
  overflow-x: scroll;
  /* overflow-y: hidden; */
  height: 125px;
  width: 500px;
  display: inline-block;
  white-space: nowrap;
}

.category-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 2px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.tablinks{
  padding-top: 2%;
  padding-bottom: 2%;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.bpmenu-back {
  border-radius: 50%;
  text-decoration: none;
  padding: 8px 16px;
  color: black;
}

.activity-heading {
  padding: 2%;
  background-color: #e0e0e0;
}

.activity-details {
  padding-top: 2%;
  padding-bottom: 2%;
}
#activity-header {
  padding-top: 6%;
  padding-bottom: 6%;
}

.activity-desctiption {
  padding-top: 4%;
}

.activity-notes {
  border-radius: 15px;
  background-color: whitesmoke;
  padding: 2%;
}

.timer-notes {
  border-radius: 15px;
  background-color: whitesmoke;
  padding: 2%;
}

.modal-content {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
}

#modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-buttons {
  padding: 2%;
  font-size: 14px;
}

/* buttons on the activity page */
.activity-buttons {
  margin: 5px;
}
.side-to-side {
  padding: 2%;
  margin: 10px;
}

.scrolling-categories {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100px;
  width: 100vw;
  display: inline-block;
  white-space: nowrap;
  /* border-radius: 15px; */
}
.scrolling-categories-but-skinny{
  overflow-x: scroll;
  overflow-y: hidden;
  height: 50px;
  width: 300px;
  display: inline-block;
  white-space: nowrap;
}

#save-activity-btn {
    border-radius: 15px;
  margin-top: 5%;
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-heading {
  background-image: url(../images/gradient-crop1.png);
  text-align: left;
}

.activity-heading {
  background: linear-gradient(255.34deg, #f4cde1 10.19%, #ffadad 89.19%);
  text-align: left;
}

.tl-heading {
  padding-top: 4%;
  padding-bottom: 2%;
  padding-left: 2%;
}

.list-buttons {
  display: flex;
  justify-content: space-between;
  width: 130px;
  height: 100px;
  white-space: normal;
  margin: 3%;
  margin-left: 1%;
  margin-right: 1%;
  word-wrap: break-word;
}

/* a tags that look like buttons, looking more likw buttons */
a {
  appearance: button;
}

.add-activity-btn {
  float: right;
  margin-top: 3%;
}
.all-act-heading {
  float: left;
}

.yellow-btn {
  background-color: #fbe46f !important;
  border-radius: 8px;
  border: none !important;
  align-items: center;
  font-size: smaller;
}

.coral-btn {
  background: #ffadad !important;
  border-radius: 8px;
  border: none !important;
  align-items: center;
  font-size: smaller;
}

.orange-btn {
  background: #fbbe79 !important;
  border-radius: 8px;
  border: none !important;
  align-items: center;
  font-size: smaller;
}

.green-btn {
  background: #c1d289 !important;
  border-radius: 8px;
  border: none !important;
  align-items: center;
  font-size: smaller;
}
.blue-btn {
  background: #a8dfff !important;
  border-radius: 8px;
  border: none !important;
  align-items: center;
  font-size: smaller;
}
.pink-btn {
  background: #f4cde1 !important;
  border-radius: 8px;
  border: none !important;
  align-items: center;
  font-size: smaller;
}

.purple-btn {
  background: #d2c2ef !important;
  border-radius: 8px;
  border: none !important;
  align-items: center;
  font-size: smaller;
}

.teal-btn {
  background: #a6ded3 !important;
  border-radius: 8px;
  border: none !important;
  align-items: center;
  font-size: smaller;
}

.heading {
  margin-top: 4%;
  padding-top: 5%;
}

.sort-heading {
  margin-bottom: 1%;
}

.sort-buttons {
  margin-bottom: 5%;
}

#complete-activity-button {
  color: white !important;
  border-radius: 15px;
  margin-top: 5%;
  padding: 2%;

}

/* timer things */
#timer-input {
  border-radius: 15px;
  background-color: whitesmoke;
  padding: 2%;
}

.timer-heading {
  background-image: url(../images/gradient\ background.png);
}
.timer-activity-name {
  padding-top: 5%;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.timer-activity-name-two {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.timer-btn {
  border-radius: 20px !important;
  margin-top: 5%;
  padding: 2%;
}

.time-notes {
  padding-top: 10%;
}
.time-buttons {
  padding-top: 10%;
  justify-content: center;
  display: inline-block;
}

.time-input{
    display:inline-block;
    position: relative;
    border-radius: 50px;
    margin: 0 auto;
        width: 50px;
    height: 50px;
}
.timer{
    justify-content: center;
}
.label-wrap{
    display: inline-block;
    width: 90%;
    text-align: right;
}

/* times up modals */
#green {
  background: #c1d289 !important;
  border-radius: 15px;
  border: none !important;
  align-items: center;
}

#yellow {
  background: #fbe46f !important;
  border-radius: 15px;
  border: none !important;
  align-items: center;
}
#orange {
  background: #fbbe79 !important;
  border-radius: 15px;
  border: none !important;
  align-items: center;
}

#grey {
  background: #e0e0e0 !important;
  border-radius: 15px;
  border: none !important;
  align-items: center;
}

.modal-title {
  margin-top: 3%;
  font-family: "Rubik", sans-serif;
  font-weight: bolder;
  font-size: 30px;
}
.modal-title-two {
  font-family: "Rubik", sans-serif;
  font-weight: bolder;
  font-size: 30px;
  text-align: left;
  margin-left: 5%;
  margin-top: -2%;
}
input[type="text"] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid gray;
  border-radius: 4px;
  font-size: x-large;
  font-weight: 600;
}

input[type="number"] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid gray;
  border-radius: 4px;
  font-size: x-large;
  font-weight: 600;
}

.bpmenu-back {
  float: right;
}

.length-tags {
  margin-top: 4%;
}

.length-btn {
  margin-top: -2%;
}

.new-act-btn {
  border-radius: 8px !important;
}

.icon-too-big{
  width: 25px; height: 15px;
  padding: none;
}

  a:link, a:visited {
    color: black !important;
    text-decoration: none;
}

#a-tag-not-blue-or-black{
  color: white !important;
  text-decoration: none;
}


#a-tag-not-blue-or-black-again{
  color: white !important;
  text-decoration: none;
}

#another-not-black-font{
  color: white !important;
  text-decoration: none;
}

.add-item-btn {
  margin-bottom: 5%;
  margin-top: -1%;
}